/* ============================================
   Foriella AMS - Admin Styles
   ============================================ */

/* Hide number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Hide timezone warning in admin */
.timezonewarning {
    display: none !important;
}
